/*
midnight slate 556270
pacifica 4ecdc4
apple chic c7f464
cheery pink ff6b6b
grandma's pillow c44d58
soft grey #ebe6e1
*/
html, body {
	background: #556270;
	color: #ebe6e1;
	font-family: Arial, sans-serif;
	margin:0;
	width:100%;
}

#welcomeWrapper table {
	background: #c44d58;
	width:100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border-radius: 10px;
}

#welcomeWrapper td, #welcomeWrapper th {
	padding: 5px;
}

#welcomeWrapper tbody tr:hover {
	background: #ff6b6b;
}

#gameCanvas {
	position: absolute;
	top:0;
	left:0;
}

#gameCounter {
	font-size: 32px;
	color: #0ff;
	position: absolute;
	top: 10px;
	right: 10px;
}